<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to stats-viewer</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{servlet-context}}/">Stats Viewer</a>
        </div>
      </div>
    </div>


    <div class="container" id="app">
        <!--
      <h2>Total Hits</h2>
      <div id="total-hits">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <h2>Unique Hits</h2>
      <div id="unique-hits"></div>
        -->
    </div>
    <!-- scripts and styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}


    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% script "/vendor/js/jquery.flot.js" %}
    {% script "/vendor/js/jquery.flot.time.js" %}
    {% script "/vendor/js/jquery.flot.pie.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      {% script "/vendor/js/react-0.11.0.js" %}
      {% script "/js/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("viewer.core");</script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.0/react.min.js"></script>
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>

